@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-size: 0.57vw;

}

.wrapper{
    /* height:auto; */
    /* overflow-x: hidden; */
}


.section1{
    background-image: url(./images/bgImage1.jpg);
    /* height: 100vh; */
    z-index: 10;
    position: relative;
    overflow-y: hidden;

}

.nav-item{
    margin-right: 30px;

}

#uli li a{
    color:white;
    margin-left:8px;
    font-size: 2.5rem;
    margin-top: 2px;
}

#btnn{

    width:13vw;
    height: 6vh;
    margin-right:80px;
    color:#FFFFFF;
    background: linear-gradient(180deg, #51D2FC 0%, #0099DC 100%);
    border-radius: 20px;
    font-size: 2rem;
    
}

#btnn::-webkit-scrollbar {
    display: none;
}

#btnn:hover{
    color:black;
    background-color: blueviolet;
}

#imgi{
    margin-left:15px;
}

#logoA{
    display:flex;
   
}

p.one{
    position: relative;
    top:5px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 140%;
/* or 49px */


color: #FFFFFF;

}

.h11{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 46px;
    /* background-color: aqua; */
    min-height: 70vh;

}

.s1p1{
    width: 40%;
    height: 66%;
    position: relative;
    top: 40px;
}
.subsection::-webkit-scrollbar {
    display: none;
}

.h11::-webkit-scrollbar {
    display: none;
}

.subSection p{
    font-size:7rem;
    color:white;
}

#heading1{
    color: #51D2FC;
    font-size:6rem;
}


.subSection .subtitle{
    font-size:2rem;

}

.subSection  .Btext .b1{
    background: linear-gradient(180deg, #51D2FC 0%, #0099DC 100%);
border-radius: 50px;
font-size:12px;
color:white;
width:160px;
height:50px;
box-sizing: border-box;
cursor: pointer;
}

.subSection  .Btext{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

.subSection .Btext .b2{
    cursor: pointer;
     border-radius: 50px; 
    height: 50px;
    width: 160px;
    color: white;
    background: none;
    border: 1px solid #51D2FC
    ;

    font-size: 12px;
}

.content{
    position:relative;
    top:40px;
}

 img.blur1{
   position:absolute;
   top:72vh;
   left:16vw;
   
}

img.blur2{
    position: absolute;
    top: 11vh;
    right: -2vw;
    width: 10vw;
}

img.blur3{
    position: absolute;
    width: 11vw;
    height: 15vh;
    bottom: 66vh;
    left: 36vw;
    filter: blur(3px);
    
}

img.blur4{
    position: absolute;
    bottom: 20vh;
    left: 41vw;
    width: 6vw;
}

.section2{
    /* background-color: aqua; */
    height:100vh;
    z-index: 20;
    
    
}



.subsection21{
   height:20%;
   background-color: #ffffff;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content:center ;

}



.subsection21 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 8rem;
    line-height: 120%;

    color: #242424;
}
.subsection21 h1::-webkit-scrollbar {
    display: none;
}

.subsection21 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 2.5rem;
line-height: 150%;
/* or 27px */

text-align: center;

color: #404040;

}


.subsection21 p::-webkit-scrollbar {
    display: none;
}

.subsection22{
    height:80%;
    background-color: #ffffffff;
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center ;
    row-gap: 40px;
    position: relative;
    flex-wrap: wrap-reverse;
    
    
  }
  .subsection22::-webkit-scrollbar {
    display: none;
}
  .part1{
    position: absolute;
    top:7vw;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .part1 figure img{
    width:15vw;
  }

  .part2{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    /* bottom: 1vw; */
    top: 390px;
    width: 89vw;
    right: -5vw;
}
    

  

  .part2 figure img{
    padding: 2px;
    margin-left: 9px;
    width: 16vw;
  }

  .part1 figure figcaption{
    position: relative;
    right: -50px;
    font-size: 2rem;

  }

  .part2 figure figcaption{
    position: relative;
    right: -33px;
    font-size: 2rem;
  } 
  @media only screen and (max-width: 800px) {
    .part2{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        /* bottom: 1vw; */
        top: 240px;
        width: 89vw;
        right: -5vw;
    }

    .part1 figure figcaption{
        position: relative;
        right: -50px;
        font-size: 2rem;
    
      }
    
      .part2 figure figcaption{
        position: relative;
        right: 50px;
        font-size: 2rem;
      } 
  }
 

  